<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/blog/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <style>
        .caveat {
            text-align: center;
            background-color: #fff;
            border-radius: 20px;
            width: 300px;
            height: 350px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }


    </style>
</head>
<body>

<div class="caveat">
    <a href="/index/"><img src="/static/blog/img/404.jpg" width="300" alt="点击返回首页"></a>
    <p class="lead"><b>404.</b> 抱歉，您访问的资源不存在。</p>
    <p>请确认您输入的网址是否正确，如果问题持续存在，请发邮件至 123456789@163.com 与我们联系。</p>
    <p><a href="/index/">返回网站首页</a></p>
</div>

</body>
</html>