<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/blog/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <script src="/static/blog/js/jquery-3.5.1.min.js"></script>
    <script src="/static/blog/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <style>
        #user_icon {
            font-size: 15px;
            padding-right: 10px;
        }

        .pub_info {
            padding-top: 10px;
        }

    </style>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客园</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- 后期开发使用
            <ul class="nav navbar-nav">
                    <li class="active"><a href="#">随笔 <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">新闻 <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="#">博文 <span class="sr-only">(current)</span></a></li>
                </ul>
            -->

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="javascript:return false"><span id='user_icon'
                                                                class="glyphicon glyphicon-user"></span>{{ request.user.username }}
                    </a></li>
                    <li><a href="/{{ request.user.username }}"><span id='user_icon'
                                                                     class="glyphicon ">我的博客</span></a></li>
                    <li><a href="/cn_backend/"><span id='user_icon'
                                                     class="glyphicon ">博客管理</span></a></li>
                    <li><a href="#"><span id='user_icon'
                                          class="glyphicon"></span>设置</a></li>
                    <li><a href="/logout/"><span id='user_icon'
                                                 class="glyphicon"></span>注销</a></li>
                {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/reguster/">注册</a></li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <!-- 左边栏 -->
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <!-- 文章渲染框 -->
        <div class="col-md-6">
            <div class="article_list">
                {% for article in article_list %}
                    <div class="article_itme">
                        <h5><a href="/{{ article.user.username }}/articles/{{ article.nid }}">{{ article.title }}</a>
                        </h5>
                        <div class="article_desc">
                            <span class="media-left">
                                <a href="/{{ article.user.username }}"><img src='/media/{{ article.user.avatar }}'
                                                                            alt="" width="56"
                                                                            height="56"></a>
                            </span>
                            <span class="media-right">
                                {{ article.desc }}
                            </span>
                        </div>
                    </div>
                    <div class="pub_info">
                        <span><a href="/{{ article.user.username }}">{{ article.user.username }}</a></span> &nbsp;&nbsp;&nbsp;
                        <span>发布于 &nbsp;&nbsp;{{ article.create_time|date:"Y-m-d H:i" }}</span>&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-comment"> 评论({{ article.comment_count }})</span>&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-thumbs-up"> 点赞({{ article.up_count }})</span>
                    </div>
                    <hr>
                {% endfor %}
            </div>

        </div>
        <!--右边栏 -->
        <div class="col-md-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>